@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
    font-family: "Bebas Neue", sans-serif;
    color: #FFF;
}
body{
    margin: 0;
    padding: 0;
    background-color: rgb(0, 2, 17);
    background: linear-gradient(0, #000000, rgb(0, 3, 28) 40%);
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    min-width: 100%;
    background-repeat: no-repeat;
    text-align: center;
    overflow-x: hidden;
}
header{
    height: 50px;
    width: 100%;
    background-color: rgb(0, 3, 22);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #ccc;
    z-index: 2;
}
a,a:visited{ 
    color: #FFF;
    text-decoration: none;
}
p{
    color: #FFF;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 1px;
    font-size: 25px;
    font-weight: 100;
    cursor: default;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    height: 100%;
    min-width: 350px;
    font-family: "bebas-neue", sans-serif;
}
nav a{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 4em;
    transition: 0.5s;
}
nav a:hover{
    color: #bbbbbb;
}
.div-main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0,0);
    flex-grow: 1;
    width: 100%;
}

@media (max-width: 480px){
    header{
        flex-direction: column;
        height: 100px;
    }
    header p{
        width: 100%;
        min-height: 20px;
    }
    nav{
        width: 100%;
    }
    nav a{
        width:25%;
        height: 50px;
        background-color: rgb(0, 3, 28);
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;

    }
}
@keyframes to-up{
    0%{
        transform: translatey(30px);
        opacity: 0;
    }
    100%{
        transform: translatey(0px);
    }
}
@keyframes to-right {
    0%{
        transform: translateX(-80px);
        opacity: 0;
    }100%{
        transform: translateX(0px);
    }
    
}
@keyframes to-down{
    0%{
        transform: translateY(-30px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
    }
}
@keyframes sizing{
    0%{
        width: 0;
        height: 0;
        opacity: 0;
    }
}